<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-advertisement-heading" jhiTranslate="eventManagerApp.advertisement.home.createOrEditLabel">Create or edit a Advertisement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!advertisement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="advertisement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.advertisement.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="advertisement.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.advertisement.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="advertisement.description" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.advertisement.teacher" for="field_teacher">Teacher</label>
                    <select class="form-control" id="field_teacher" name="teacher" [(ngModel)]="advertisement.teacherId"  required>
                        <option *ngIf="!editForm.value.teacher" [ngValue]="null" selected></option>
                        <option [ngValue]="teacherOption.id" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.firstName + ' ' + teacherOption.lastName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.teacher?.dirty && editForm.controls.teacher?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.teacher?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label jhiTranslate="eventManagerApp.advertisement.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" multiple name="student" [(ngModel)]="advertisement.students">
                        <option [ngValue]="getSelected(advertisement.students, studentOption)" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.firstName + ' ' + studentOption.lastName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
