<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advertisement">
            <h2><span jhiTranslate="eventManagerApp.advertisement.detail.title">Advertisement</span> {{advertisement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.advertisement.title">Title</span></dt>
                <dd>
                    <span>{{advertisement.title}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.advertisement.description">Description</span></dt>
                <dd>
                    <span>{{advertisement.description}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.advertisement.teacher">Teacher</span></dt>
                <dd>
                    <div *ngIf="advertisement.teacherId">
                        <a [routerLink]="['/teacher', advertisement.teacherId, 'view']">{{advertisement.teacherName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.advertisement.student">Student</span></dt>
                <dd>
                    <span *ngFor="let student of advertisement.students; let last = last">
                        <a [routerLink]="['/student', student?.id, 'view' ]">{{student.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advertisement', advertisement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
