<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-event-heading" jhiTranslate="eventManagerApp.event.home.createOrEditLabel">Create or edit a Event</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!event.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="event.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="event.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="event.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.repeatStart" for="field_repeat_start">Start Date</label>
                    <div class="input-group">
                        <input id="field_repeat_start" type="text" class="form-control" name="repeatStart" ngbDatepicker  #repeatStartDp="ngbDatepicker" [(ngModel)]="event.repeatStart"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="repeatStartDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.repeatStart?.dirty && editForm.controls.repeatStart?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.repeatStart?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.repeatStart?.errors?.Date" jhiTranslate="entity.validation.datelocal">
                            This field should be a date.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.start" for="field_start">Start Time</label>
                    <div class="d-flex">
                        <input id="field_start" type="time" class="form-control" name="start" [(ngModel)]="event.start"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.start?.dirty && editForm.controls.start?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.start?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.start?.errors?.Time" jhiTranslate="entity.validation.Time">
                            This field should be time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.end" for="field_end">End Time</label>
                    <div class="d-flex">
                        <input id="field_end" type="time" class="form-control" name="end" [(ngModel)]="event.end"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.end?.dirty && editForm.controls.end?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.end?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.end?.errors?.Time" jhiTranslate="entity.validation.Time">
                            This field should be a time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.repeatable" for="field_repeatable">Repeat?</label>
                    <div class="d-flex">
                        <input type="checkbox" class="form-control" name="repeatable" id="field_repeatable"
                               [(ngModel)]="repeatable" />
                    </div>
                </div>
                <div class="form-group" [hidden]="!repeatable">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.repeatEnd" for="field_repeat_end">Repeat Until</label>
                    <div class="input-group">
                        <input id="field_repeat_end" type="text" class="form-control" name="repeatEnd" ngbDatepicker  #repeatEndDp="ngbDatepicker"
                               [(ngModel)]="event.repeatEnd"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="repeatEndDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.repeatStart?.dirty && editForm.controls.repeatEnd?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.repeatEnd?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.repeatEnd?.errors?.Date" jhiTranslate="entity.validation.datelocal">
                            This field should be a date.
                        </small>
                    </div>
                </div>
                <div class="form-group" [hidden]="!repeatable">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.interval" for="field_interval">Repeat Until</label>
                    <input type="number" class="form-control" name="interval" id="field_interval" [required]="repeatable"
                           [(ngModel)]="event.interval" required/>
                    <div [hidden]="!(editForm.controls.interval?.dirty && editForm.controls.interval?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.interval?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.teacher" for="field_teacher">Teacher</label>
                    <select class="form-control" id="field_teacher" name="teacher" [(ngModel)]="event.teacherId"  required>
                        <option *ngIf="!editForm.value.teacher" [ngValue]="null" selected></option>
                        <option [ngValue]="teacherOption.id" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.firstName + ' ' + teacherOption.lastName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.teacher?.dirty && editForm.controls.teacher?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.teacher?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.students">Students</label>
                    <br>
                    <label class="form-control-label" jhiTranslate="eventManagerApp.event.number">Number of selected
                        Students:</label><label class="form-control-label">{{selected.size}}</label>
                    <input id="filter" class="form-control" #filter (keyup)="tree.treeModel.filterNodes(filter.value)"
                           placeholder="filter nodes"/>
                    <tree-root id="field_students" #tree [focused]="true" [options]="options" [nodes]="nodes"
                               (loadNodeChildren)="updateTree($event)" (select)="addStudent($event)"
                               (deselect)="removeStudent($event)"></tree-root>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
