<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span jhiTranslate="eventManagerApp.event.detail.title">Event</span> {{event.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.event.title">Title</span></dt>
                <dd>
                    <span>{{event.title}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.description">Description</span></dt>
                <dd>
                    <span>{{event.description}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.repeatStart">Start Date</span></dt>
                <dd>
                    <span>{{event.repeatStart | date}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.start">Start</span></dt>
                <dd>
                    <span>{{event.start}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.end">End</span></dt>
                <dd>
                    <span>{{event.end}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.repeatEnd">Repeat Until</span></dt>
                <dd>
                    <span>{{event.repeatEnd | date}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.interval">Interval</span></dt>
                <dd>
                    <span>{{event.interval}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.event.teacher">Teacher</span></dt>
                <dd>
                    <div *ngIf="event.teacherId">
                        <a [routerLink]="['/teacher', event.teacherId, 'view']">{{event.teacherName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event', event.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
