@import '~angular-tree-component/dist/angular-tree-component.css';
.tree {
    width: 300px;
}

.node-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.node-content-wrapper {
    flex-grow: 1;
    position: relative;
}

.pull-right {
    position: absolute;
    right: 10px;
}
