<div>
    <h2 id="page-heading">
        <span jhiTranslate="eventManagerApp.event.home.title">Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eventManagerApp.event.home.createLabel">
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="eventManagerApp.event.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="eventManagerApp.event.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="repeatStart"><span jhiTranslate="eventManagerApp.event.repeatStart">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="start"><span jhiTranslate="eventManagerApp.event.start">Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="end"><span jhiTranslate="eventManagerApp.event.end">End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="repeatEnd"><span jhiTranslate="eventManagerApp.event.repeatEnd">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interval"><span jhiTranslate="eventManagerApp.event.interval">Interval</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teacherName"><span jhiTranslate="eventManagerApp.event.teacher">Teacher</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['/event', event.id, 'view' ]">{{event.id}}</a></td>
                <td>{{event.title}}</td>
                <td>{{event.description}}</td>
                <td>{{event.repeatStart | date}}</td>
                <td>{{event.start}}</td>
                <td>{{event.end}}</td>
                <td>{{event.repeatEnd | date}}</td>
                <td>{{event.interval}}</td>
                <td>
                    <div *ngIf="event.teacherId">
                        <a [routerLink]="['../teacher', event.teacherId , 'view' ]" >{{event.teacherName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/event', event.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event', event.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="events && events.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
