<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-event-student-heading" jhiTranslate="eventManagerApp.eventStudent.home.createOrEditLabel">Create or edit a Event Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!eventStudent.id" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="eventStudent.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.eventStudent.minutes" for="field_minutes">Minutes</label>
                    <input type="number" class="form-control" name="minutes" id="field_minutes"
                        [(ngModel)]="eventStudent.minutes" required/>
                    <div [hidden]="!(editForm.controls.minutes?.dirty && editForm.controls.minutes?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.minutes?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.minutes?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.eventStudent.googleEventId" for="field_googleEventId">Google Event Id</label>
                    <input type="text" class="form-control" name="googleEventId" id="field_googleEventId"
                        [(ngModel)]="eventStudent.googleEventId" />
                </div>

                <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.eventStudent.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" [(ngModel)]="eventStudent.studentId"  required>
                        <option *ngIf="!editForm.value.student" [ngValue]="null" selected></option>
                        <option [ngValue]="studentOption.id" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.firstName + ' ' + studentOption.lastName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.student?.dirty && editForm.controls.student?.invalid)" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.student?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.eventStudent.event" for="field_event">Event</label>
                    <select class="form-control" id="field_event" name="event" [(ngModel)]="eventStudent.eventId"  required>
                        <option *ngIf="!editForm.value.event" [ngValue]="null" selected></option>
                        <option [ngValue]="eventOption.id" *ngFor="let eventOption of events; trackBy: trackEventById">{{eventOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.event?.dirty && editForm.controls.event?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.event?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
