<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventStudent">
            <h2><span jhiTranslate="eventManagerApp.eventStudent.detail.title">Event Student</span> {{eventStudent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.eventStudent.minutes">Minutes</span></dt>
                <dd>
                    <span>{{eventStudent.minutes}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.eventStudent.googleEventId">Google Event Id</span></dt>
                <dd>
                    <span>{{eventStudent.googleEventId}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.eventStudent.student">Student</span></dt>
                <dd>
                    <div *ngIf="eventStudent.studentId">
                        <a [routerLink]="['/student', eventStudent.studentId, 'view']">{{eventStudent.studentId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.eventStudent.event">Event</span></dt>
                <dd>
                    <div *ngIf="eventStudent.eventId">
                        <a [routerLink]="['/event', eventStudent.eventId, 'view']">{{eventStudent.eventId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-student', eventStudent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
