<div>
    <h2 id="page-heading">
        <span jhiTranslate="eventManagerApp.eventStudent.home.title">Event Students</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-student" [routerLink]="['/event-student/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eventManagerApp.eventStudent.home.createLabel">
            Create new Event Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="eventStudents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minutes"><span jhiTranslate="eventManagerApp.eventStudent.minutes">Minutes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="googleEventId" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']"><span jhiTranslate="eventManagerApp.eventStudent.googleEventId">Google Event Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="student" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']"><span jhiTranslate="eventManagerApp.eventStudent.student">Student</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eventId"><span jhiTranslate="eventManagerApp.eventStudent.event">Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventStudent of eventStudents ;trackBy: trackId">
                <td><a [routerLink]="['/event-student', eventStudent.id, 'view' ]">{{eventStudent.id}}</a></td>
                <td>{{eventStudent.minutes}}</td>
                <td *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">{{eventStudent.googleEventId}}</td>
                <td *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TEACHER']">
                    <div *ngIf="eventStudent.studentId">
                        <a [routerLink]="['../student', eventStudent.studentId , 'view' ]" >{{eventStudent.studentName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventStudent.eventId">
                        <a [routerLink]="['../event', eventStudent.eventId , 'view' ]" >{{eventStudent.eventTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/event-student', eventStudent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-student', eventStudent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-student/'+ eventStudent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="eventStudents && eventStudents.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
