<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><span jhiTranslate="modal.message" >Event will start at:</span> {{start}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close()">Close</button>
</div>
