<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teacher">
            <h2><span jhiTranslate="eventManagerApp.teacher.detail.title">Teacher</span> {{teacher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.teacher.firstname">First Name</span></dt>
                <dd>
                    <span>{{teacher.firstName}}</span>
                </dd><dt><span jhiTranslate="eventManagerApp.teacher.lastname">Last Name</span></dt>
                <dd>
                    <span>{{teacher.lastName}}</span>
                </dd><dt><span jhiTranslate="eventManagerApp.teacher.email">Email</span></dt>
                <dd>
                    <span>{{teacher.email}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.teacher.birthday">Birthday</span></dt>
                <dd>
                    <span>{{teacher.birthday}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.teacher.telephone">Telephone</span></dt>
                <dd>
                    <span>{{teacher.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.teacher.address">Address</span></dt>
                <dd>
                    <span>{{teacher.address}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teacher', teacher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
