<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="specialty">
            <h2><span jhiTranslate="eventManagerApp.specialty.detail.title">Specialty</span> {{specialty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.specialty.name">Name</span></dt>
                <dd>
                    <span>{{specialty.name}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.specialty.enabled">Enabled</span></dt>
                <dd>
                    <span>{{specialty.enabled}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.specialty.faculty">Faculty</span></dt>
                <dd>
                    <div *ngIf="specialty.facultyId">
                        <a [routerLink]="['/faculty', specialty.facultyId, 'view']">{{specialty.facultyName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/specialty', specialty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
