<div>
    <h2 id="page-heading">
        <span jhiTranslate="eventManagerApp.specialty.home.title">Specialties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-specialty" [routerLink]="['/specialty/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eventManagerApp.specialty.home.createLabel">
            Create new Specialty
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="specialties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="eventManagerApp.specialty.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enabled"><span jhiTranslate="eventManagerApp.specialty.enabled">Enabled</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="facultyName"><span jhiTranslate="eventManagerApp.specialty.faculty">Faculty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let specialty of specialties ;trackBy: trackId">
                <td><a [routerLink]="['/specialty', specialty.id, 'view' ]">{{specialty.id}}</a></td>
                <td>{{specialty.name}}</td>
                <td>{{specialty.enabled}}</td>
                <td>
                    <div *ngIf="specialty.facultyId">
                        <a [routerLink]="['../faculty', specialty.facultyId , 'view' ]" >{{specialty.facultyName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/specialty', specialty.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/specialty', specialty.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'specialty/'+ specialty.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="specialties && specialties.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
