<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-group-heading" jhiTranslate="eventManagerApp.group.home.createOrEditLabel">Create or edit a Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!group.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="group.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.group.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="group.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.group.enabled" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                        [(ngModel)]="group.enabled" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eventManagerApp.group.specialty" for="field_specialty">Specialty</label>
                    <select class="form-control" id="field_specialty" name="specialty" [(ngModel)]="group.specialtyId"  required>
                        <option *ngIf="!editForm.value.specialty" [ngValue]="null" selected></option>
                        <option [ngValue]="specialtyOption.id" *ngFor="let specialtyOption of specialties; trackBy: trackSpecialtyById">{{specialtyOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.specialty?.dirty && editForm.controls.specialty?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.specialty?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
