<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="group">
            <h2><span jhiTranslate="eventManagerApp.group.detail.title">Group</span> {{group.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.group.name">Name</span></dt>
                <dd>
                    <span>{{group.name}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.group.enabled">Enabled</span></dt>
                <dd>
                    <span>{{group.enabled}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.group.specialty">Specialty</span></dt>
                <dd>
                    <div *ngIf="group.specialtyId">
                        <a [routerLink]="['/specialty', group.specialtyId, 'view']">{{group.specialtyName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group', group.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
