<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.notification.title}">EventManager Event Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.notification.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.notification.text1(${event.title}, ${start})}">
            Your Event  will start at
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/event/${event.id}/view|})" th:href="${url}"
               th:text="${url}">Link</a>
        </p>
        <p>
            <span th:text="#{email.notification.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
