<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="eventManagerApp.student.detail.title">Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventManagerApp.student.firstname">First Name</span></dt>
                <dd>
                    <span>{{student.firstName}}</span>
                </dd><dt><span jhiTranslate="eventManagerApp.student.lastname">Last Name</span></dt>
                <dd>
                    <span>{{student.lastName}}</span>
                </dd><dt><span jhiTranslate="eventManagerApp.student.email">Email</span></dt>
                <dd>
                    <span>{{student.email}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.student.birthday">Birthday</span></dt>
                <dd>
                    <span>{{student.birthday}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.student.telephone">Telephone</span></dt>
                <dd>
                    <span>{{student.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.student.address">Address</span></dt>
                <dd>
                    <span>{{student.address}}</span>
                </dd>
                <dt><span jhiTranslate="eventManagerApp.student.group">Group</span></dt>
                <dd>
                    <div *ngIf="student.groupId">
                        <a [routerLink]="['/group', student.groupId, 'view']">{{student.groupName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
